<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Form</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

{% verbatim %}
<div id="app">
    <form @submit.prevent="submitForm">
      <div v-for="(form, index) in forms" :key="index">
        <h3>Form {{ getFormNumber(index) }}</h3>
        <div>
          <label>Wing/Flat:</label>
          <input v-model="form.wing_flat" type="text">
          <span class="error" v-if="errors">{{ errors[index] }}</span>
          <!-- <span class="error" v-if="errors">{{ errors }}</span> -->
          <!-- <span class="error" v-if="errors">{{ errors[index].wing_flat }}</span> -->
          <!-- <span class="error" v-if="errors[index]?.wing_flat">{{ errors[index].wing_flat[0] }}</span> -->
        </div>
        <div>
          <label>Parking Lot:</label>
          <input v-model="form.parking_lot" type="text">
          <!-- <span class="error" v-if="errors[index] && errors[index].parking_lot">{{ errors[index].parking_lot }}</span> -->
        </div>
        <div>
          <label>Vehicle Type:</label>
          <input v-model="form.vehicle_type" type="text">
          <!-- <span class="error" v-if="errors[index] && errors[index].vehicle_type">{{ errors[index].vehicle_type }}</span> -->
        </div>
        <!-- Add more fields here -->
  
        <button @click.prevent="removeForm(index)">Remove Form</button>
        <hr>
      </div>
      <button @click.prevent="addForm">Add Form</button>
      <hr>
      <button type="submit">Submit All Forms</button>
    </form>
  </div>  
{% endverbatim %}

<script>
  new Vue({
    el: '#app',
    data: {
      forms: [
        { wing_flat: '', parking_lot: '', vehicle_type: '', vehicle_number: '', vehicle_brand: '', rc_copy: '', sticker_number: ''}
      ],
      errors: [],
      wing_flat: '',
    },
    methods: {
      addForm() {
        this.forms.push({ wing_flat: '', parking_lot: '', vehicle_type: '', vehicle_number: '', vehicle_brand: '', rc_copy: '', sticker_number: ''});
      },
      removeForm(index) {
        this.forms.splice(index, 1);
      },
      submitForm() {
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        axios.post('http://127.0.0.1:8000/api/vehicle/', this.forms, {})
          .then(response => {
            console.log('Form data submitted successfully:', response.data);
          })
          .catch(errors => {
            console.error('Error submitting form data:', errors);
            this.errors = errors.response.data.errors;
            // this.errors = errors.response.data;
            console.log("ERROR====================", this.errors[0]['wing_flat'][0]);
            // if (errors.response && errors.response.status === 400 && errors.response.data){
            //   if(errors.response.data.wing_flat){
            //     this.wing_flat = error.response.data.wing_flat.join('');
            //   }else{
            //     this.wing_flat = '';
            //   }
            // }
          });
        },
      getFormNumber: index => index + 1
    }
  });
</script>

<style>
  .error {
    color: red;
    font-size: 14px;
  }
</style>

</body>
</html>
