<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Form</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  {% verbatim %}
  <div id="app">
    <form @submit.prevent="submitForm">
      <div>
        <label>Wing/Flat:</label>
        <input type="text">
      </div>


      <div v-for="(form, index) in forms" :key="index">
        <h3>Form {{ getFormNumber(index) }}</h3>

        <div>
          <label>Parking Lot:</label>
          <input v-model="form.parking_lot" type="text">
          <span class="error" v-if="hasError(index, 'parking_lot')">{{ getError(index, 'parking_lot') }}</span>
        </div>
        <div>
          <label>Vehicle Type:</label>
          <input v-model="form.vehicle_type" type="text">
          <span class="error" v-if="hasError(index, 'vehicle_type')">{{ getError(index, 'vehicle_type') }}</span>
        </div>

        <div>
          <label>Vehicle Number:</label>
          <input v-model="form.vehicle_number" type="text">
          <span class="error" v-if="hasError(index, 'vehicle_number')">{{ getError(index, 'vehicle_number') }}</span>
        </div>

        <div>
          <label>Vehicle Brand:</label>
          <input v-model="form.vehicle_brand" type="text">
          <span class="error" v-if="hasError(index, 'vehicle_brand')">{{ getError(index, 'vehicle_brand') }}</span>
        </div>

        <div>
          <label>RC Copy:</label>
          <input v-model="form.rc_copy" type="file">
          <span class="error" v-if="hasError(index, 'rc_copy')">{{ getError(index, 'rc_copy') }}</span>
        </div>

        <div>
          <label>Sticker Number:</label>
          <input v-model="form.sticker_number" type="number">
          <span class="error" v-if="hasError(index, 'sticker_number')">{{ getError(index, 'sticker_number') }}</span>
        </div>

        <!-- ... (other form fields) ... -->

        <div>
          <label>Vehicle Chargeable?:</label>
          <select class="w-100 sty-inp form-control" @change="toggleChargeAmount(index, $event)">
            <option value="" selected>YES / NO</option>
            <option value="no">NO</option>
            <option value="yes">YES</option>
          </select>
        </div>

        <div v-if="form.showChargeAmount">
          <label>Charge Amount:</label>
          <input v-model="form.chargable" type="number">
          <span class="error" v-if="hasError(index, 'chargable')">{{ getError(index, 'chargable') }}</span>
        </div>

        <button @click.prevent="removeForm(index)">Remove Form</button>
        <hr>
      </div>
      <button @click.prevent="addForm">Add Form</button>
      <hr>
      <button type="submit">Submit All Forms</button>
    </form>
    {% endverbatim %}
  </div>


  <script>
    new Vue({
      el: '#app',
      data: {
        forms: [
          { wing_flat: '', parking_lot: '', vehicle_type: '', vehicle_number: '', vehicle_brand: '', rc_copy: '', sticker_number: '', chargable: '', showChargeAmount: false }
        ],
        errors: [],
        wing_flat: '',
      },
      methods: {
        addForm() {
          this.forms.push({ wing_flat: '', parking_lot: '', vehicle_type: '', vehicle_number: '', vehicle_brand: '', rc_copy: '', sticker_number: '', chargable: '', showChargeAmount: false });
          const newIndex = this.forms.length - 1;
          this.errors = this.errors.filter(error => error.index !== newIndex);
        },
        removeForm(index) {
          this.forms.splice(index, 1);
        },
        hasError(index, field) {
          return this.errors.some(error => error.index === index && error[field]);
        },
        getError(index, field) {
          const error = this.errors.find(error => error.index === index);
          return error ? error[field][0] : '';
        },
        toggleChargeAmount(index, event) {
          console.log("toggle");
          this.forms[index].showChargeAmount = event.target.value === 'yes';
        },
        submitForm() {
          axios.defaults.xsrfCookieName = 'csrftoken';
          axios.defaults.xsrfHeaderName = 'X-CSRFToken';

          const formData = new FormData();
          console.log("THIS.FORMS", this.forms)

          this.forms.forEach((form, index) => {
          const prefix = `form[${index}]`; // Prefix to differentiate form data

          for (let key in form) {
              if (key === 'rc_copy') {
                  const file = form[key];
                  if (file) {
                      const blob = new Blob([file], { type: file.type });
                      formData.append(`${prefix}[${key}]`, blob, file.name);
                  }
              } else {
                  formData.append(`${prefix}[${key}]`, form[key]);
              }
          }
      });

          axios.post('http://127.0.0.1:8000/api/vehicle/', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
            .then(response => {
              console.log('Form data submitted successfully:', response.data);
            })
            .catch(errors => {
              console.error('Error submitting form data:', errors);
              this.errors = errors.response.data.errors;
              console.log("ERROR====================", this.errors[0]['wing_flat'][0]);
            });
        },
        getFormNumber: index => index + 1
      }
    });

  </script>

</body>

</html>