{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Society-Creation</title> {% endblock title %}

{% block body %}


<div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-md-11 col-lg-11 col-xl-10 text-center p-0 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-1 mb-3">
          <h2 id="heading">Member Creation</h2>
          <p style="color: #616161">
            Fill all form field to go to next step
          </p>
          <div name="main-member-form" id="msform">
            <!-- progressbar -->
            <ul id="progressbar" class="col-10 ms-auto me-auto" style="padding: 0 !important">
              <li class="active" style="width: 20% !important;" id="member"><strong>Members Details</strong></li>
              <li id="shares" style="width: 20% !important;"><strong>Shares Details</strong></li>
              <li id="homeLoan" style="width: 20% !important;"><strong>Home Loan Details</strong></li>
              <li id="gst" style="width: 20% !important;"><strong>GST Details</strong></li>
              <li id="vehicle" style="width: 20% !important;"><strong>Vehicle Details</strong></li>
            </ul>

            <fieldset>
              <div id="addMemberDiv">
                {% verbatim %}
                  <form enctype="multipart/form-data">
                    <div class="row mt-3" style="text-align: left">
                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select class="w-100 sty-inp form-control" v-model="formData.wing_flat" />
                            <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                          </select>
                          <label for="wing_flat_select" class="sty-label">Wing & Flat No.</label>
                          <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="formData.member_name" />
                          <label for="" class="sty-label">Member's Name</label>
                          <span v-if="errors.member_name" class="error">{{ errors.member_name[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" min="0" max="100" class="w-100 sty-inp percentage-input" v-model="formData.ownership_percent" />
                          <label for="" class="sty-label">Ownership %</label>
                          <span v-if="errors.ownership_percent" class="error">{{ errors.ownership_percent[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select class="w-100 sty-inp" v-model="formData.member_position">
                            <option value="">Select Member Position</option>
                            <option value="nominal_member">Nominal Member</option>
                            <option value="committe_member">Committe Member</option>
                            <option value="member">Member</option>
                          </select>
                          <span v-if="errors.member_position" class="error">{{ errors.member_position[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="date" class="w-100 sty-inp form-control" v-model="formData.member_dob" />
                          <label for="" class="sty-label">Member DOB</label>
                          <span v-if="errors.member_dob" class="error">{{ errors.member_dob[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="formData.member_pan_no" />
                          <label for="" class="sty-label">Member PAN No</label>
                          <span v-if="errors.member_pan_no" class="error">{{ errors.member_pan_no[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp" v-model="formData.member_aadhar_no" />
                          <label for="" class="sty-label">Member Aadhaar No</label>
                          <span v-if="errors.member_aadhar_no" class="error">{{ errors.member_aadhar_no[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <textarea class="w-100 sty-inp form-control" cols="30" rows="1" v-model="formData.member_address"></textarea>
                          <label for="" class="sty-label">Member Permanent Address</label>
                          <span v-if="errors.member_address" class="error">{{ errors.member_address[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select name="state" class="w-100 sty-inp" v-model="formData.member_state">
                          </select>
                          <label for="" class="sty-label">State</label>
                          <span v-if="errors.member_state" class="error">{{ errors.member_state[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp" v-model="formData.member_pin_code" />
                          <label for="" class="sty-label">Pin Code</label>
                          <span v-if="errors.member_pin_code" class="error">{{ errors.member_pin_code[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="email" class="w-100 sty-inp" v-model="formData.member_email" />
                          <label for="" class="sty-label">Member Email</label>
                          <span v-if="errors.member_email" class="error">{{ errors.member_email[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp form-control" v-model="formData.member_contact" />
                          <label for="" class="sty-label">Member Contact No.</label>
                          <span v-if="errors.member_contact" class="error">{{ errors.member_contact[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp" v-model="formData.member_emergency_contact" />
                          <label for="" class="sty-label">Emergency Contact No.</label>
                          <span v-if="errors.member_emergency_contact" class="error">{{ errors.member_emergency_contact[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="formData.member_occupation" />
                          <label for="" class="sty-label">Occupation</label>
                          <span v-if="errors.member_occupation" class="error">{{ errors.member_occupation[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="date" class="w-100 sty-inp" v-model="formData.date_of_admission" />
                          <label for="id_date_of_admission" class="sty-label">Date of admission</label>
                          <span v-if="errors.date_of_admission" class="error">{{ errors.date_of_admission[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-6 mb-2 d-flex">
                        <div class="w-100 sty-input-wrapper">
                            <input type="file" class="w-100 sty-inp form-control" ref="sales_agreement" />
                            <label for="id_sales_agreement" class="sty-label">Sales Agreement</label>
                            <span v-if="errors.sales_agreement" class="error">{{ errors.sales_agreement[0] }}</span>
                          <span v-else></span>
                        </div>
                        <div class="prev">
                            <button type="button" class="sty-inp form-control"
                                onclick="PreviewImage('id_sales_agreement')">
                                <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                            </button>
                        </div>
                      </div>

                      <div class="col-lg-6 mb-2 d-flex">
                        <div class="w-100 sty-input-wrapper">
                            <input type="file" class="w-100 sty-inp form-control" ref="other_attachment" />
                            <label for="id_other_attachment" class="sty-label">Other Attachment</label>
                            <span v-if="errors.other_attachment" class="error">{{ errors.other_attachment[0] }}</span>
                          <span v-else></span>
                        </div>
                        <div class="prev">
                            <button type="button" class="sty-inp form-control" onclick="PreviewImage('id_tenant_noc')">
                                <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                            </button>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="date" class="w-100 sty-inp" v-model="formData.date_of_entrance_fees" />
                          <label for="id_date_of_entrance_fees" class="sty-label">Date of entrance fees</label>
                          <span v-if="errors.date_of_entrance_fees" class="error">{{ errors.date_of_entrance_fees[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3" id="id_flat_status_div_container">
                        <div class="w-100 sty-input-wrapper" id="id_flat_status_div">
                          <select class="w-100 sty-inp" v-model="formData.flat_status">
                            <option value="">Select Flat Status</option>
                            <option value="occupied">Occupied</option>
                            <option value="Not Occupied">Not Occupied</option>
                            <option value="Rented">Rented</option>
                            <option value="Japti">Japti</option>
                            <option value="Builder Possession">Builder Possession</option>
                          </select>
                          <label for="id_flat_status_status" class="sty-label">Flat Status</label>
                          <span v-if="errors.flat_status" class="error">{{ errors.flat_status[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 d-flex align-items-center" id="id_is_primary_container">
                        <small id="id_is_primary">
                          <span>
                            <input type="checkbox" class="sty-inp" v-model="formData.member_is_primary"/>
                          </span>&nbsp;Make Primary Member
                          <span v-if="errors.member_is_primary" class="error">{{ errors.member_is_primary[0] }}</span>
                          <span v-else></span>
                        </small>
                      </div>
                    </div>
                  </form>

                  <form enctype="multipart/form-data">
                    <div v-for="(form, index) in forms" :key="index">
                      <h3>Form {{ getFormNumber(index) }}</h3>

                      <h1>Add Nominee</h1>
                      <div class="row abcd" id="cloneNominee">
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Nominee Name</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="date" class="w-100 sty-inp form-control" v-model="form.beneficiary_name"  />
                            <label for="" class="sty-label">Date of Nomination</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input class="w-100 sty-inp form-control" type="text" v-model="form.beneficiary_name"  />
                            <label for="" class="sty-label">Relation with Nominator</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp form-control percentage-input" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Nominee Sharein %</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="date" class="w-100 sty-inp"v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Nominee DOB</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Nominee Aadhaar No</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Nominee PAN No</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp" v-model="form.beneficiary_name" />
                            <label for="id_nominee_email" class="sty-label">Nominee Email</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <textarea class="w-100 sty-inp form-control" cols="30" rows="1" v-model="form.beneficiary_name" ></textarea>
                            <label for="" class="sty-label">Nominee Permanent Address</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <select name="state" class="w-100 sty-inp" v-model="form.beneficiary_name" >
                            </select>
                            <label for="" class="sty-label">State</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Pin Code</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp form-control" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Nominee Contact No.</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp" v-model="form.beneficiary_name" />
                            <label for="" class="sty-label">Emergency Contact No.</label>
                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-4 gap-3 align-items-center">
                          <span @click.prevent="removeForm(index)"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                        <hr />
                      </div>
                    </div>
                    <span @click.prevent="addForm" class="add-mem-btn float-start">Add Form</span>
                    <input type="button" class="add-mem-btn" @click="submitBothDocs" value="Submit All Forms">
                    <hr>
                  </form>
                {% endverbatim %}
              </div>

              {% comment %} <input type="button" name="" class="add-mem-btn float-start" id="" value="Add Nominee"
                onclick="addNominee()" />
              <input type="button" name="" class="next action-button" id="save_and_next_member" value="Save & Next" />
              <input class="add-mem-btn" type="button" name="addMember" id="save_and_add_member"
                value="Save & Add Member" /> {% endcomment %}
            </fieldset>

            <fieldset>
              <h1>FORM</h1>
              <input type="button" name="next" class="next action-button" id="addSharesDetail" value="Save & Next" />
              <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
            </fieldset>

            <fieldset>
              <h1>FORM</h1>
              <input type="button" name="next" class="next action-button" id="homeLoanSubmit" value="Save & Next" />
              <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
            </fieldset>

            <fieldset>
              <h1>FORM</h1>
              <input type="button" name="" class="next action-button" value="Save & Next" id="gstFormSubmit" />
              <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
            </fieldset>

            <fieldset>
              <h1>FORM</h1>
              <input type="button" name="" class="add-mem-btn float-start" id="addVehicles" value="Add Vehicle"
                onclick="addVehicle()" />
              <input type="button" name="" class="action-button" id="vehicleFormSubmit" value="Submit" />
              <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
            </fieldset>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}